.choose{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 16px 0;
}

.title {
  color: #169BD5 !important;
  //text-align: center;
}

.rule {
  padding: 20px 0 0 0;
}

